{{ fullname | escape | underline}}

.. currentmodule:: {{ module }}

.. note::

   This object is a :class:`torch.nn.Module`. It therefore has all the methods and attributes
   from that class, even though they are not documented here (to avoid cluttering this page).

.. autoclass:: {{ objname }}

   {% block methods %}

   {% if methods %}
   .. rubric:: {{ _('Methods') }}

   .. autosummary::
      to
      merge
      forward
      window
      pool
      project
      save
      load
      plot_windows
      plot_window_values
      plot_window_widths
      plot_window_areas
      plot_window_checks
      summarize_window_sizes
   {% endif %}
   {% endblock %}
